<div #container class="app-container">
  <button #toggleButton
          type="button" class="btn"
          [ngClass]="buttonClass">
    <span [ngClass]="[btnIconClass]"></span>
  </button>
  <div #menuExpanded id="menu-expanded" class="app-menu"
       [ngStyle]="{'background-color': backgroundColor}"
       [ngClass]="{'hidden': !isMenuOpen}">
    <a *ngFor="let item of items"
       class="menu-item" href="{{ item.uri }}" target="_blank">
      <ng-container *ngIf="item.iconClass; else image">
        <span [ngClass]="[item.iconClass]"></span>
      </ng-container>
      <ng-template #image>
        <img src="{{ item.iconImage }}" alt="{{ item.label }}"
             width="50px" height="50px" />
      </ng-template>
      <div class="text-truncate">{{ item.label }}</div>
    </a>
  </div>
</div>
